## Model Training
#### 1.1 Import Data and Required Packages
Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

/var/folders/zs/bkn_y8hx4sz7ql3x3_swz8mm0000gn/T/ipykernel_74128/3256063811.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

ModuleNotFoundError: No module named 'catboost'

Import the CSV Data as Pandas DataFrame

In [2]:
df = pd.read_csv('../data/processed/processed_df.csv')

In [3]:
df.head(5)

,floor,size_sqm,price,longitude,latitude,historical_price,quarterly_variation,annual_variation,monthly_variation,demographic_replacement_rate,...,0,1,2,3,4,5,6,7,8,9
0,3.0,141.0,990000,-3.656875,40.464347,3250,2.2,0.3,2.1,47.883875,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
1,2.0,159.0,940000,-3.703523,40.419427,5106,1.4,-4.3,0.1,34.142306,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,98.0,549000,-3.669626,40.435362,4100,0.6,-4.1,-0.2,48.651728,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,232.0,750000,-3.720619,40.424164,4773,0.5,-3.7,0.3,41.508238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4.0,183.0,1550000,-3.705909,40.413214,4739,-5.5,-5.3,-1.1,26.976744,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0